.memes-view {
	width: 90%;
	margin: auto;
	padding: 0 25px;
	border-radius: 12px;
	margin-top: 30px;
	background-color: var(--bg-dark);
}

.memes-view-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 105px;
	padding: 0 6px;
	background-color: var(--bg-dark);
	z-index: 10;
	backdrop-filter: blur(10px);
	position: sticky;
	left: 0px;
	top: 00px;
}

.memes-view-header h3 {
	font-size: 1.4rem;
	color: var(--theme);
}

.memes-view-content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: 25px;
}

.memes-view-nowrap .memes-view-content {
	overflow: auto;
	flex-wrap: nowrap;
}
