:root {
	--bg: #fff;
	--bg-dark: #f5f5f5;

	--bg-dark-transparent: #11111499;
	--text: rgba(255, 255, 255, 0.8);
	--text-dark: #222;
	--text-light: rgb(255, 255, 255);

	--blue: rgb(58 128 255);
	--theme: #5c87ff;
	--red: #ff5b68;
	--green: rgb(28 187 110);

	--font: Inter;
	font-size: 10pt;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font);
}

body {
	background-color: var(--bg);
}
